[submodule "labelImg"]
	path = labelImg
	url = https://github.com/tzutalin/labelImg.git
[submodule "google-images-download"]
	path = google-images-download
	url = https://github.com/hardikvasa/google-images-download.git
[submodule "darkflow"] 
  path = darkflow 
  url = https://github.com/thtrieu/darkflow.git
